@font-face {
    font-family: "p5hatty";
    src: url("p5hatty-1.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "p5menu";
    src: url("Persona5MenuFontPrototype-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "expose";
    src: url("Expose-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 768px){
    #menu {
        left: 10px;
        top: 10px;
        transform: scale(0.4);
        z-index: 10;
    }

    nav ul {
        flex-direction: column;
        row-gap: 10px;
        margin-top: 60px;
    }

    #one {
        margin-left: 40px;
        text-align: center;
    }

        .fourth {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .right2 p {
        text-align: center;
        margin-right: 0;
    }

        .fifth {
        flex-direction: column;
    }

    .fifth .left p {
        text-align: center;
    }

    .fifth .left h1 {
        text-align: center;
    }
}

:root {
    --white: #FFFFFF;
    --red: #A93226;
    --black: #000000;
}

body {
    background-color: white;
    margin: 5px;
    padding: 10px;
    overflow-x: hidden;
}

nav {
    font-family: "p5hatty";
    font-size: 30px;
}

.navStyle {
    display: flex;
    justify-content: center;
    list-style: none;
    transition: all 0.3s ease;
}

.navStyle.hidden {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 1vw;

}

nav ul li a {
    font-size: 30px;
    text-decoration: none;
    background-color: black;
    color: white;
}

nav ul li a:hover {
    background-color: var(--red);
}

#menu {
    position: absolute;
    top: 20px;
    left: 10px;
    transform: scale(0.5);
    transform-origin: top left;
    z-index: 10;
}

#one {
    font-family: "p5menu";
    font-size: 3vw;
    color: var(--red);
    text-align: center;
}

#one p {
    font-family: "p5hatty";
    font-size: 2vw;
    text-align: center;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 2;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.column {
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

.column img {
    background-color: var(--red);
    padding: 1px;
    border-radius: 1px;
    display: block;
    width: 100%;
    height: auto;

    /* grey scale effect: https://www.w3schools.com/cssref/css3_pr_filter.php */
    filter: grayscale(100%);
}

.column img:hover {
    filter: grayscale(0%);
    transform: scale(105%);
    transition: 0.4s ease;

}


#item {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
}

#item img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -20px;
    padding-top: 0;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 0;
    padding: 0;
}


#item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.25);
    margin-top: 35px;
    transform-origin: top center;
}

/* sumire starts here */

.fourth {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 25px;
    clear: both;
    max-width: 100%;
    overflow-x: hidden;
    flex-wrap: wrap;
}


.left2 {
    flex: 0 0 auto;
    text-align: center;
    padding-left: 5vw;
}

.right2 {
    flex: 1;
    min-width: 200px;
    margin-top: 100px;
    margin-right: 30px;
    padding-right: 25px;
}

.right2 h1 {
    font-family: "expose";
    font-size: 3vw;
    color: var(--red);
    margin: 0;
    text-align: left;
}


.right2 p {
    position: relative;
    font-family: "p5hatty";
    font-size: 2vw;
    color: var(--black);
    text-align: left;
    margin: 0 10px 0 0;

    background-color: var(--white);
    padding: 1px;
    border-style: solid;
    border-radius: 1px;
    border-color: var(--black);
    border-width: 3px;

    /* shadow: https://www.w3schools.com/cssref/css3_pr_box-shadow.php */
    box-shadow: 5px 10px var(--red);

    z-index: 1;
}

#item4 img {
    max-width: 600px;
    width: 100%;
    height: auto;
    display: inline-block;

    filter: grayscale(100%);
}

#item4 img:hover {
    filter: grayscale(0%);
    transition: 0.4s ease;
}


/* akechi starts here */

.fifth {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-right: 25px;
    clear: both;
    max-width: 100%;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.fifth .left {
    flex: 1;
    min-width: 250px;
    max-width: 600px;
    text-align: left;
    padding-top: 60px;
    padding-left: 150px;
}

.fifth .left h1 {
    font-family: "expose";
    font-size: 3vw;
    color: var(--red);
    margin: 0 0 10px 0;
}

.fifth .left p {
    position: relative;
    font-family: "p5hatty";
    font-size: 2vw;
    color: var(--black);
    text-align: left;
    margin: 0 10px 0 0;

    background-color: var(--white);
    padding: 1px;
    border-style: solid;
    border-radius: 1px;
    border-color: var(--black);
    border-width: 3px;

    /* shadow: https://www.w3schools.com/cssref/css3_pr_box-shadow.php */
    box-shadow: -20px 10px var(--red);

    z-index: 1;
}

.fifth .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
}

#item3 img {
    width: 100%;
    max-width: 500px;
    height: auto;

    filter: grayscale(100%);
}

#item3 img:hover {
    filter: grayscale(0%);
    transition: 0.4s ease;
}